/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333232;
    color: white;
    text-align: center;
    margin: 20px;
    overflow-x: hidden;
}

/* Títulos */
h1, h2 {
    color: #e0b011;
}

/* Botones */
button {
    background-color: #e0b011;
    border: none;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #f0c020;
    transform: scale(1.05);
}

/* Contenedor de botones (Izquierda) */
.left-buttons-container {
    position: fixed;
    left: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 150px; /* Limitar el ancho máximo del contenedor */
}

/* Botones con iconos */
button img.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Contenedor del canvas */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    max-width: 90%;
    max-height: 90vh;
}

/* Canvas (Imagen original) */
#canvas {
    width: 75%; 
    height: auto; 
    max-width: 100%; 
    border: 1px solid #e0b011;
    background-color: rgba(255, 238, 190, 0.842);
    cursor: crosshair;
    object-fit: contain;
    margin: 0 auto; /* Centrar el canvas */
}

/* Contenedor de botones de procesamiento */
.processing-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 30px; 
    padding: 10px; 
}

/* Botón de guardar */
.save-button {
    right: 300px;
    position: absolute;
    justify-content: end;
    background-color: #e0b011;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.save-button:hover {
    background-color: #f0c020;
}

/* Contenedor de la cámara */
#webcam-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    border: 2px solid #f0c020;
    border-radius: 10px;
    background: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

#webcam-preview-container {
    width: 640px;
    height: 480px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    position: relative;
}

#webcam-preview-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    object-fit: cover;
}

/* Diálogo de guardar */
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.dialog input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.dialog button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e0b011;
    color: white;
    transition: background-color 0.3s ease;
}

.dialog button:hover {
    background-color: #f0c020;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Ventana de configuración */
.settings-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1000;
    text-align: center;
    display: none;
}

.settings-window h2 {
    margin-top: 0;
    color: #e0b011;
}

.settings-window input {
    width: 80%;
    margin: 10px 0;
}

.settings-window button {
    background-color: #e0b011;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    font-size: 14px;
    transition: 0.3s;
    color: white;
}

.settings-window button:hover {
    background-color: #f0c020;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .left-buttons-container {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        position: static;
        margin-bottom: 20px;
    }

    .processing-buttons-container {
        flex-direction: column;
        gap: 10px;
    }

    #canvas {
        width: 95%;
        height: auto;
    }
}

/* Contador de etiquetas */
.label-counter {
    margin-top: 10px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
